<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/index.css" media="screen" title="no title" charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <img class="logo" src="/images/logo.png" >
    <div class="backpicture">
      <%= yield %>
      <script charset="utf-8" src="script.js">

      </script>

    </div>
    <div class="cb"></div>

    <footer>
      <div class="copy">© 2014 by Hiromi De Young - All Rights Reserved.</div>
    </footer>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
